{:paths ["src" "."]
 :deps  {org.clojure/clojurescript    {:mvn/version "1.10.339"}
         org.clojure/tools.deps.alpha {:mvn/version "0.5.452"}
         com.github.lxbr/jsc          {:git/url "https://github.com/lxbr/jsc.git"
                                       :sha     "0080c2bb6dc513bc3fb21f338600904b4b7c9c99"}}
 :aliases
 {:native-image {:override-deps
                 {org.clojure/tools.reader
                  {:git/url "https://github.com/lxbr/tools.reader"
                   :sha     "bcdeec6d32feecc7f2c50f3f8b2f07b466e6c26f"}}}}}
